<nav class="nav">
  <div class="container nav-inner">
    <!-- App branding -->
    <a class="brand" href="/">🚗 MEN CRUD</a>

    <!-- Navigation links -->
    <div class="nav-links">
      <a class="btn" href="/cars">All Cars</a>
      <a class="btn btn-primary" href="/cars/new">Add Car</a>
    </div>
  </div>
</nav>
